alias ....="cd ../../.."
alias .....="cd ../../../.."
alias a="ls -l --all"
alias agi="sudo apt-get install"
alias agl="dpkg --get-selections"
alias agL="dpkg --listfiles"
alias agu="sudo apt-get update && sudo apt-get upgrade"
alias al="zsh_stats"
alias be="bundle exec"
alias beg="bundle exec guard"
alias ber="bundle exec rake"
alias c="clear"
alias g="g" # overwrite g alias in git plugin so function will work
alias ga="git add"
alias gaa="git add ."
alias gcf="git commit --file"
alias gcm="git commit --message"
alias gco="git checkout"
alias gd="git diff"
alias gfl="git log -u"
alias gl="git log"
alias gh="git hist"
alias ghd="git hist-details"
alias gr="git reset"
alias grc="git rm --cached"
alias grh="git reset --hard"
alias gri="git rebase -i"
alias grm="git rm"
alias gs="git status"
alias gw="git diff --check"
alias Grep='grep'
alias l="ls"
alias ll="ls -lv --human-readable --color=auto"
alias ms="tmux -S /tmp/pair && chmod 777 /tmp/pair"
alias mw="tmux attach-session -t work || tmux new-session -s work"
alias rd="popd"
alias sd="pwd | pushd"
alias s="cd ~/Source"
alias sfs="map-sshfs"
alias sz="source ~/.zshrc"
alias t="tmux"
alias tls="tmux list-sessions"
alias v="vim"
alias vu="vagrant up"
alias vd="vagrant destroy"
alias vh="vagrant halt"
alias vp="vagrant provision"
alias vs="vagrant status"
alias vssh="vagrant ssh"
alias w="python -m SimpleHTTPServer"
alias x="exit"

