alias a="ls -la"
alias al="zsh_stats"
alias ga="git add"
alias gaa="git add ."
alias gcm="git commit -m"
alias gd="git diff"
alias gl="git log"
alias gh="git hist"
alias grm="git rm"
alias gs="git status"
alias l="ls -lvh --color=auto"
alias s="cd ~/Source"
alias v="vim"
