alias ....="cd ../../.."
alias .....="cd ../../../.."
alias a="ls -l --human-readable --all --color=auto"
alias agi="sudo apt-get install"
alias agl="dpkg --get-selections"
alias agL="dpkg --listfiles"
alias agu="sudo apt-get update && sudo apt-get upgrade"
alias al="zsh_stats"
alias b="bundle"
alias be="bundle exec"
alias bea="bundle exec rails"
alias beg="bundle exec guard"
alias ber="bundle exec rake"
alias c="clear"
alias f="map-sshfs"
alias g="g" # overwrite g alias in git plugin so function will work
alias ga="git add"
alias gaa="git add --all"
alias gap="git add --patch"
alias gbc="git branch --merged master | grep -v master | xargs git branch -d"
alias gc="git commit"
alias gcm="echo Do not specify message at command line.  Use gc"
alias gco="git checkout"
alias gd="git diff"
alias gdc="git diff --cached"
alias gds="git diff --stat"
alias gfl="git log --patch"
alias gi="gitignore-io"
alias gl="git log"
alias gh="git hist"
alias ghd="git hist-details"
alias ght="git hist-tags"
alias gp="git push"
alias gpf="git push --force"
alias gpl="git pull"
alias gpo="git push -u origin"
alias gr="git reset"
alias gra="git rebase --abort"
alias grc="git rm --cached"
alias grh="git reset --hard"
alias gri="git rebase --interactive"
alias grm="git rm"
alias gs="git status"
alias gup="git remote update --prune"
alias gw="git diff --check"
alias Grep='grep'
alias jb="./gradlew"
alias jbd="./gradlew dependencies"
alias jbr="./gradlew run"
alias jbt="./gradlew test"
alias l="ls"
alias ll="ls -lv --human-readable --color=auto"
alias lp="librarian-puppet"
alias m="more"
alias md="mkdir"
alias ms="tmux -S /tmp/pair && chmod 777 /tmp/pair"
alias mw="tmux attach-session -t work || tmux new-session -s work"
alias r="ssh"
alias rd="popd"
alias rs="bundle exec rspec"
alias s="cd ~/Source"
alias sd="pwd | pushd"
alias sfs="map-sshfs"
alias sz="source ~/.zshrc"
alias t="tmux"
alias tls="tmux list-sessions"
alias v="vim"
alias vd="vagrant destroy"
alias vh="vagrant halt"
alias vn="vim -u NONE"
alias vp="vagrant provision"
alias vr="vagrant reload"
alias vs="vagrant status"
alias vssh="vagrant ssh"
alias vu="vagrant up"
alias w="python -m SimpleHTTPServer"
alias x="exit"

