function g {
  if [[ $# > 0 ]]; then
    git $@
  else
    git status
  fi
}
compdef g=git

insert-sudo() {
  zle beginning-of-line
  zle -U "sudo "
}

function port-forward {
  ssh $1 -R $2":localhost:"$2 -g
}

