*.swp

alacritty/.config/alacritty/alacritty.yml

nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/undo

vim/.config/vim/undo

zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions
