[user]
	name = Andrew Tomaka
	email = atomaka@gmail.com
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    tool = vimdiff
[apply]
    whitespace = fix
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    editor = subl
    filemode = false
[push]
    default = upstream
