#!/usr/bin/env bash

# packages.toml hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoidata/packages.toml") | sha256sum }}

{{- if eq .chezmoi.os "darwin" }}

# Generate Brewfile content from packages.toml
{
{{- range .packages.darwin.tap }}
{{- if and .url .trusted }}
  echo 'tap "{{ .name }}", "{{ .url }}", trusted: true'
{{- else if .url }}
  echo 'tap "{{ .name }}", "{{ .url }}"'
{{- else if .trusted }}
  echo 'tap "{{ .name }}", trusted: true'
{{- else }}
  echo 'tap "{{ .name }}"'
{{- end }}
{{- end }}
{{- range .packages.darwin.brew }}
  echo 'brew "{{ . }}"'
{{- end }}
{{- range .packages.darwin.cask }}
  echo 'cask "{{ . }}"'
{{- end }}
{{- if .personal }}
{{- range .packages.darwin.personal.cask }}
  echo 'cask "{{ . }}"'
{{- end }}
{{- end }}
} | brew bundle --file=-

{{- end }}
