#!/usr/bin/env bash

# Brewfile hash: {{ include (joinPath .chezmoi.workingTree "Brewfile") | sha256sum }}

echo "Installing homebrew packages"
echo $PATH

pushd $HOME/.local/share/chezmoi
brew bundle
popd
