alias zbm="/usr/bin/time zsh -i -c exit"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias a="ls -l --human-readable --all --color=auto"
alias agc="ag-count"
alias agh="ag --hidden"
alias awsp="aws-profile"
alias b="bundle"
alias be="bundle exec"
alias bea="bundle exec rails"
alias ber="bundle exec rake"
alias bet="test-rails"
alias betd="bundle exec rspec --format documentation"
alias c="clear"
alias dc="docker compose"
alias dft="docker run --rm --privileged alpine hwclock -s"
alias g="g" # overwrite g alias in git plugin so function will work
alias ga="git add"
alias gaa="git add --all"
alias gap="git add --patch"
alias gb="git branch"
alias gbc="git-branch-cleanup"
alias gbda="git branch | grep -v master | xargs git branch -D"
alias gbdm="git-branch-delete-merged"
alias gc="git commit"
alias gca="git commit --amend"
alias gcm="echo Do not specify message at command line.  Use gc"
alias gcn="git commit --allow-empty --message 'noop'"
alias gco="git checkout"
alias gcp="git cherry-pick"
alias gcs="git commit -m '¯\_(ツ)_/¯'"
alias gct="git commit -m '( ͡° ͜ʖ ͡°)'"
alias gd="git diff"
alias gdc="git diff --cached"
alias gds="git diff --stat"
alias gdss="git diff --shortstat"
alias gfa="git-date-added"
alias gfl="git log --patch"
alias gg="hub gist create --browse"
alias gi="gitignore-io"
alias gl="git fancy-graph"
alias ghi="git hist"
alias ghd="git hist-details"
alias ght="git hist-tags"
alias gm="git merge"
alias gma="git merge --abort"
alias gmc="git merge --continue"
alias gmr="git most-recent-by-branch"
alias gp="git push"
alias gpf="git push --force"
alias gpl="git pull"
alias gpo="git push -u origin"
alias gpu="git push -u upstream"
alias gr="git reset"
alias grb="git rebase"
alias grba="git rebase --abort"
alias grbc="git rebase --continue"
alias grbi="git rebase --interactive"
alias grc="git rm --cached"
alias grh="git reset --hard"
alias grm="git rm"
alias gs="git status"
alias gu="git undo"
alias gup="git-branch-delete-merged"
alias gw="git diff --check"
alias Grep='grep'
alias l="ls"
alias ll="ls -lv --human-readable --color=auto"
alias ls="ls --color=auto"
alias m="more"
alias md="cd ~/dotfiles > /dev/null 2>&1; make; cd -1 > /dev/null 2>&1"
alias mf="mkdir"
alias mw="tmux new-session -A -s work"
alias ne="npm-exec"
alias pf="port-forward"
alias pwdgen="password-generator"
alias r="ssh"
alias rd="popd"
alias s="cd ~/Source"
alias sci="ssh-copy-id -i .ssh/id_rsa.pub"
alias sd="pwd | pushd"
alias subl="code"
alias sw="stopwatch"
alias sz="source ~/.zshrc"
alias pf="port-forward"
alias t="tmux new-session -A -s"
alias tf="terraform"
alias tls="tmux list-sessions"
alias ts="tmuxinator start"
alias v="$EDITOR"
alias w="ruby -rwebrick -e'WEBrick::HTTPServer.new(:Port => 8000, :DocumentRoot => Dir.pwd).start'"
alias wo="curl 'http://wttr.in/48823'"
alias y="yarn"
alias ya="yarn add"
alias yad="yarn add --dev"
alias ye="yarn-exec"
alias yi="yarn-install-like-bundle"
alias x="exit"
