keybinds clear-defaults=true {
  normal {
    bind "Ctrl b" { SwitchToMode "tmux"; }
  }
  tmux {
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "q" { CloseTab; SwitchToMode "normal"; }
    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }

    bind "s" { NewPane "Down"; SwitchToMode "normal"; }
    bind "v" { NewPane "Right"; SwitchToMode "normal"; }

    bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }

    bind "x" { CloseFocus; SwitchToMode "normal"; }

    bind "h" { MoveFocus "Left"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "Right"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "Down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "Up"; SwitchToMode "normal"; }

    bind "d" { Detach; }
  }
}

pane_frames false
